<div class="home-container">
    
    <div class="title-container about">
        <h1>ABOUT</h1>
        <div class="about-container">
            
            <div class="part1">
                <p>So, you’ve been hurled into space because a fleet of Vogon ships destroyed planet earth in order 
                to create space for a hyperspace bypass…now what? <em>Whatever you do…</em></p>
                <h3>DON'T PANIC!!</h3>
                <p>In this shop you will find all the essentials you need on your journey, from the Sub-Etha Sens-O-Matic to help you 
                    hitchhike through the galaxy, to your Joo Janta 200 Super-Chromatic Peril Sensitive Sunglass, which allow you to 
                    hitchhike in style! The inspiration for this site lays in The Hitchhiker's Guide to the Galaxy (sometimes referred to as 
                    HG2G, HHGTTG), which is a series of science fiction created by Douglas Adams in 1978.
                </p>
            </div>
            <br>
            <div class="part2">
                
                <p>The Hitchhiker's Guide to the Galaxy franchise started with a radio series, and now includes books, television series, and a feature length film. 
                    A whole universe of merchandising has sprung from this saga of angst and despair--from illustrated book versions to towels. 
                    The story centres on an Earthling, Arthur Dent, one of a handful of survivors of the demolition of planet Earth by a Vogon 
                    fleet to make way for a hyperspace bypass. After the destruction of Earth, Arthur starts his travels through the galaxy with his 
                    friend Ford Prefect
                    He heavily relies on a copy of The Hitchhiker's Guide to the Galaxy, a woefully inaccurate electronic tourist guide to life, 
                    the universe and everything.
                </p>
            </div>
        </div>
        
    </div>
</div>