<div class="home-container">
    
    <div class="title-container">
        <h1>DON'T PANIC</h1>
        <p>Everything you <em>need</em> to survive in the Universe</p>
    </div>
        <%= render 'layouts/categories' %>
</div>