#productContainer {
    //width: 33%;
    //float:left;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


#productContainer h1 {
    display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.producthols {
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 10px;
    // display: inline-block;
    // width: 22%;
    padding: 10px;
    margin: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    box-shadow: -1px 7px 31px -8px rgba(0,0,0,0.75);
}


.producthols h1 {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.producthols p {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}



.productholsIm {
    height: 100px;
    width: auto;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


// Nav
a {
    text-decoration: none;
}

.nav {
    display: flex;
    .nav-item {
        list-style:none;
        padding: 10px; 
    }
}