// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-image {
    width: 100px;
    height: auto;
}

.product-container {
    display: flex;
    justify-content: space-around;
    .product-card {
        padding: 20px;
        box-shadow: 3px 14px 53px -9px rgba(0,0,0,0.75);
        max-width: 300px;
    }
}